@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family:'twayair';
    text-align:center;
    margin:0;
    padding:0;
}
.title{
    display:flex;
    margin:70px;
    justify-content: center;
}
form{
    padding:10px;
}
.sign-form{
    position:relative;
    margin:10px 0;
}
.sign-form > input{
    background:transparent;
    border:none;
    border-bottom: solid 1px #ccc;
    padding:20px 0px 5px 0px;
    font-size:14pt;
    width:70%;
    margin-left: auto; margin-right: auto;
}
input::placeholder{
    text-align: left;
}
input:placeholder-shown + label{
    color:#aaa;
    font-size:14pt;
    top:15px;

}
input:focus + label, label{
    color:#8aa1a1;
    font-size:10pt;
    pointer-events: none;
    position: absolute;
    left:0px;
    top:0px;
    transition: all 0.2s ease ;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

input:focus, input:not(:placeholder-shown){
    border-bottom: solid 1px #063030;
    outline:none;
}
button{
    background-color: #8aa1a1;
    border:none;
    color:white;
    border-radius: 5px;
    width:70%;
    height:35px;
    font-size: 14pt;
    margin-top:100px;
    
}
.sign-up{
    text-align: right;
    font-size:12pt;
    color:rgb(164, 164, 164);
    margin:10px 0px;
    padding-right:200px;
}