.buttonLogout{
    background-color: #ffadc1;
    border:none;
    border-radius: 5px;
    width:5%;
    height:26px;
    font-size: 8pt;
    margin-right:100px;
    margin-top:-25px;
    float:right;
}
.link{
    text-decoration: none;
    color:white;

}